*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
:root{
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	/* --main-color: #ff4d05; */
	--main-color: #05ff7e;
	/* --main-color: #e00000; */
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
html{
	scroll-behavior: smooth;
	

}



body{
	background: var(--bg-color);
	color: var(--text-color);
}

/* back to top  */
#progress{
	background: var(--main-color);
	position: fixed;
	bottom: 20px;
	right: 10px;
	height: 70px;
	width: 70px;
    border-radius: 50%;
	place-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	cursor: pointer;
	z-index: 10000;
	display: none;
}
#progress-value{
	display: grid;
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	border-radius: 50%;
	place-items: center;
	background-color: #fff;
	font-size: 35px;
	color: #001a2e;

}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 1.375rem 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}
.logo{
	color: var(--text-color);
	font-size: 2.188rem;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: var(--main-color);
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--second-color);
	font-size: 1rem;
	font-weight: 500;
	margin: 0 1.56rem;
	transition: all .45s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.navlist a.active{
	color: var(--main-color);
}
#menu-icon{
	font-size: 2.188rem;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 1.56rem;
	display: none;
}

section{
	padding: 10rem 15% 7.5rem;
}
.home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../img/mathewos5bandw.jpg);
	
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.slide{
	margin-bottom: 1.25rem;
}
.one{
	display: inline-block;
	margin-right: 1rem;
	height: 2rem;
	padding: 0 1rem;
	line-height: 2rem;
	font-size: 1.25rem;
	font-weight: 500;
	border-radius: .3rem;
	background: var(--main-color);
	color: var(--text-color);
}
.two{
	display: inline-block;
	color: var(--second-color);
	font-size: 1.25rem;
	font-weight: 500;
}
.home-text h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 0.5rem;
}
.home-text h3{
	color: var(--text-color);
	margin: 0 0 2.18rem;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}
.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 2.5rem;
}
.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.button span{
	margin-left: 3rem;
	/* font-size: 0.9rem; */
    font-weight: 700;
	color: var(--text-color);
	opacity: 0.7;
	/* background: blue; */
	display: flex;
	align-items: center;
}
.btn{
	display: inline-block;
	padding: 0.75rem 1.75rem;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	background: var(--text-color);
	color: var(--main-color);
}


header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 0.75rem 15%;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img img{
	max-width: 33rem;
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	background: white;

}
.about-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.about-text h4{
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 0.94rem 0 1.9rem;
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}
.icons-container svg{
	margin-bottom: 2rem;
	margin-right: 2rem;
	
}

.services{
	background: var(--second-bg-color);
}
.main-text{
	text-align: center;
}
.main-text p{
	color: var(--second-color);
	font-size: 0.94rem;
	margin-bottom: 0.94rem;
}
.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.7rem, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.box{
	background: var(--bg-color);
	padding: 2.19rem 2.8rem;
	border-radius: 0.5rem;
	transition: all .45s ease;
}
.box:hover{
	box-shadow: 0px 0px 14px 13px var(--main-color);
	transform: scale(1.1);
	
}
.s-icons i{
	font-size: 2rem;
	margin-bottom: 1.25rem;
}
.box h3{
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 0.94rem;
}
.box p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 1.56rem;
}
.read{
	display: inline-block;
	padding: 0.5rem 1.1rem;
	background: #333333;
	color: var(--second-color);
	font-size: 0.87rem;
	font-weight: 500;
	border-radius: 0.5rem;
	transition: all .45s ease;
}
.read:hover{
	letter-spacing: 1px;
	background: #ffffff99;
	color: var(--text-color);
}
.box:hover{
	transform: translateY(-0.5rem);
	cursor: pointer;
}

.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.row{
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	cursor: pointer;
}
.row img{
	width: 400px;
	height: 300px;
	width: 100%;
	border-radius: 0.5rem;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	/* background: linear-gradient(rgba(0,0,0,0.1), #ff004f); */
	background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
	position: absolute;
	border-radius: 0.5rem;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 2.5rem;
	transition: height 0.5s;
}
.layer h5{
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.94rem;
}
.layer p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}
.layer i{
	color: var(--main-color);
	margin-top: 1.25rem;
	font-size: 1.25rem;
	background: var(--text-color);
	width: 3.75rem;
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.row:hover img{
	transform: scale(1.1);
}
.row:hover .layer{
	height: 100%;
}

.contact{
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.contact-text h4{
	color: var(--text-color);
	margin: 1.1rem 0;
	font-size: 1.25rem;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 1.9rem;
}
.list{
	margin-bottom: 2.8rem;
}
.list li{
	margin-bottom: 0.75rem;
}
.list li a{
	display: block;
	color: var(--second-color);
	font-size: 0.87rem;
	transition: all .45s ease;
}
.list li a:hover{
	color: var(--text-color);
	transform: translateX(0.3rem);
}
.contact-icons a{
	height: 2.8rem;
	width: 2.8rem;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 1.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	margin-right: 0.94rem;
	transition: all .45s ease;
}
.contact-icons a:hover{
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	width: 100%;
	padding: 0.87rem;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 0.94rem;
	border-radius: 0.5rem;
	margin-bottom: 0.6rem;
}
.contact-form textarea{
	resize: none;
	height: 15rem;
}
.contact-form .submit{
	display: inline-block;
	font-size: 1rem;
	background: var(--main-color);
	color: var(--text-color);
	width: 10rem;
	transition: all .45s ease;
}
.contact-form .submit:hover{
	color: var(--main-color);
	background: var(--text-color);
	cursor: pointer;
}

.end{
	padding: 1.25rem 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}
.last-text p{
	color: var(--second-color);
	font-size: 0.87rem;
}
.top a{
	padding: 0.6rem;
	border-radius: 0.5rem;
	font-size: 0.94rem;
	color: var(--text-color);
	background: var(--main-color);
}


@media (max-width: 1480px){
	header{
		padding: 0.75rem 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 3.75rem;
	}
	.end{
		padding: 0.94rem 3%;
	}
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 17px;
		font-size: 1.25rem;
		transition: all .45s ease;
		color: var(--text-color);
	}
	.navlist a:hover{
		color: var(--main-color);
	}
	.navlist a.active{
		color: var(--text-color);
	}
	.navlist.open{
		top: 100%;
	}
}
@media  screen and (max-height: 650px) {
	:root{
		font-size: 14px;
	}
}